*{
    box-sizing: border-box;
}

*::selection{
    color: #ffffff;
    background-color: #0170b9; /* ESTE SERA EL COLOR QUE APARECERA AL SELECCIONAR */
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
h4{ font-size: 5em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

/* BOTONES */

.prod, .infoproductos{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: darkslategrey;
}

.prod:hover, .infoproductos:hover{
    background-color: rgb(15, 114, 114);
    cursor: pointer;
}

.container{
    max-width: 1400px;
    margin: auto;
}

/* SOMOS LIVINGS DEL HEADER */

.color-acento{ color: darkgray;}

/* HEADER */

header{
    background-color: white;
    position: relative;
    z-index: 11;
}

header .logo-text{
    margin: 0;
    padding-right: 350px;
    font-weight: 600;
    color: black;
    font-size: 1.4em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

/* <A> DEL HEADER */

.dropdown-a{
    font-style: inherit;
    font-size: 1em;
    font-weight: 500;
}

.dropdown-a :hover{
    background-color: aqua;
}

.sucursales-a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.sucursales-a:hover{
    color: darkslategrey;
}

.contacto-a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.contacto-a:hover{
    color: darkslategrey;
}

.somos-a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.somos-a:hover{
    color: darkslategrey;
}


/* HERO */

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/img4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-titulo{
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 0px;
    margin-bottom: 0;
}

#hero h4{
    color: #FFFFFF;
    font-size: 3em;
    font-weight: 400;
    margin-top: 0;
}

/* SOMOS LEONLIVINGS */

#somos-leonlivings .container{
    text-align: center;
    padding: 200px 12px;
    display: inline-block;
    line-height: 1;
}

.somostxt-1{
    font-size: 30px;
    font-style: inherit;
    font-weight: inherit;
}

.somostxt-2{
    font-size: 22px;
    font-weight: 100;
    font-style: inherit;
    font-weight: inherit;
}

/* FIN DE PAGINA */

#findepagina{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../media/findepagina.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
    justify-content: center;
}

#findepagina h2{
    font-size: 9vw;
}

/* COPYRIGHT */

footer{
    background-color: rgb(230, 230, 230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){

    /* HEADER */

    header {
        opacity: 2;
        position: fixed;
        width: 100%;
        transition: height 0.3s ease-in-out;
        z-index: 999;
    }
    
    header .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
    }
    
    header nav {
        display: flex;
        flex-direction: row;
    }
    
    header .logoinicio {
        width: 50px;
        padding: 5px 0px;
        border-radius: 15px;
    }
    
    .menu-icon {
        display: none;
    }
    
    .menu-icon img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }


    /* HERO */

    .hero-titulo{
        font-size: 8em;
    }

    /* SECCION SOMOS LEON LIVINGS */

    #somos-leonlivings .container{
        display: flex;
        justify-content: space-evenly;
    }

    .somos-button{
        font-size: 1.2em;
        font-weight: 400;
        padding: 10px 40px;
        border-radius: 7px;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        color: white;
        background-color: rgb(16, 87, 87);
    }

    .somos-button:hover{
        background-color: rgb(15, 114, 114);
        cursor: pointer;
    }

    #somos-leonlivings .texto{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-leonlivings h2{
        margin-top: 0px;
        font-size: 50px;
        font-weight: 600;
    }

    /* BOTON NOSOTROS */   

    #somos-leonlivings .nosotros{
        padding: 8px 0px;
    }

    #somos-leonlivings .img-container{
        background-image: url("../media/equipo.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 800px;
        border-radius: 80px;
    }

    /* SECCION NUESTROS PRODUCTOS */

    #nuestros-productos .productos{
        display: flex;
        justify-content: center;
    }

    #nuestros-productos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-productos h2{
        font-size: 4em;
    }

    #nuestros-productos h3{
        margin-top: 0;
    }

    #nuestros-productos .carta{
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    /* SECCION FIN DE PAGINA */

    #findepagina .container-findepagina{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #findepagina .logo-container .finlogo{
        width: 80px;    
        max-width: 100%;
        padding: 40px 0px 0px 0px;
        margin-left: 750px;
    }

    #findepagina .container-findepagina h3{
        font-size: x-large;
        color: cadetblue;
        padding: 0px 20px;
        padding-bottom: 0;
        font-weight: 200px;
    }

    #findepagina .institucional-container li{
        margin-left: -28px;
        padding: 0px 0px 20px 10px;
        font-weight: 300;
        list-style-type: none;
        
    }

    .institucional-container a{
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
    }

    .institucional-container a:hover{
        color: #ccc;
    }

    .divisor {
        width: 250px;
    }

    /* LOCALES FIN DE PAGINA */

    #findepagina .locales h4{
        font-size: x-large;
        color: cadetblue;
        padding: 0px 20px;
        padding-bottom: 0;
        font-weight: 200px;
        margin-bottom:  0;
        display: flex;
    }

    .locales li{
        margin-left: -28px;
        padding: 10px;
        font-weight: 300;
    }

    .locales a{
        color: #FFFFFF;
        text-decoration: none;
    }

    .locales a:hover{
        color: #ccc;
    }

    /* PRODUCTOS DE FINAL DE PAGINA */

    #findepagina .productos-findepagina h5{
        font-size: x-large;
        color: cadetblue;
        font-weight: 200px;
        padding-left: 300px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .productos-findepagina li{
        padding: 10px 0;
        text-align: center;
        font-weight: 300;
        padding-left: 200px;
    }

    .productos-findepagina a{
        color: #FFFFFF;
        text-decoration: none;
    }

    .productos-findepagina a:hover{
        color: #ccc;
    }

    /* SECCION CONTACTO FOOTER */

    #findepagina .contacto-findepagina h6{
        font-size: x-large;
        color: cadetblue;
        font-weight: 200px;
        padding-left: 300px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .contacto-findepagina li{
        padding: 10px 0;
        font-weight: 300;
        padding-left: 200px;
    }

    .contacto-findepagina a{
        color: #FFFFFF;
        text-decoration: none;
    }

    .contacto-findepagina a:hover{
        color: #ccc;
    }

    .divisor2{
        margin-left: 200px;
        width: 350px;
    }

    /* LOGO DE BUSCADOR */

    .logobuscador{
        width: 30px;
        border-radius: 15px;
        margin-right: 80px;
    }
      
    .interactive-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        z-index: 3;
    }
      
    .button-text {
        font-size: 14px;
        fill: var(--e-global-color-primary );
        color: var(--e-global-color-primary );
        background-color: var(--e-global-color-e724fab );
        border-radius: 12px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        padding: 8px 8px;
        color: black;
        background-color: rgb(245, 255, 255);
        margin-right: 10px;
    }

    .container-botonimagen a{
        text-decoration: none;
    }
      
    .interactive-button img {
        width: 60px;
        height: auto;
    }
      
    .interactive-button:hover .button-text {
        background-color: #ddd;
        transform: scale(1.1);
    }
    
    .search-icon:hover{
        cursor: pointer;
    
    }

    /* ANIMACION TEXTO QUIENES SOMOS */

    .scroll-effect {
        position: relative;
        z-index: 1;
        opacity: 0;
        transform: translateY(100px);
        transition: opacity 1s ease, transform 1s ease;
    }
      
    .scroll-effect.active {
        opacity: 1;
        transform: translateY(0);
    }
      
@keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
    }

    .dropbtn {
        border: none;
        cursor: pointer;
        padding: 5px 12px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
        font-size: 1em;
        background-color: #FFFFFF;
    }

    .dropbtn:hover{
            color: darkslategrey;
    }
      
    .dropdown {
        position: relative;
        display: inline-block;
    }
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 220px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        margin-left: 12px;
    }

    .dropdown-content a {
        color: black;
        padding: 14px 12px 14px 32px;
        text-decoration: none;
        display: block;
    }
      
    .dropdown-content a:hover {
        background-color: #54595F;
        color: #f9f9f9;
        transition: background-color 0.4s ease;
    }
    
    .dropdown-content {
        display: none;
    }
      
    .dropdown.active .dropdown-content {
        display: block;
    }

    /* CARRUSEL */

    .slide {
        position: relative;
        margin-top: 26px;
        display: flex;
        justify-content: center;
        background-color: black;
        user-select: none;
        height: 50vw;
        width: 100%;
    }

    .slide:hover{
        cursor: pointer;
    }

    .slide-inner {
        position: relative;
        overflow: hidden;
    }

    .slide-open:checked + .slide-item {
        position: static;
        opacity: 100;
    }

    .slide-item {
        position: absolute;
        opacity: 0;
        width: 100%;
    }

    .slide-item img {
        float: right;
        height: auto;
        padding: 100px 0px 100px 0px;
        width: 800px;
    }

    .slide-control {
        background: rgba(77, 73, 73, 0.28);
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 60%;
        cursor: pointer;    
        text-align: center;
        width: 40px;
        z-index: 10;
    }

    .slide-control.prev {
        left: 2%;
    }

    .slide-control.next {
        right: 2%;
    }

    .slide-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
     }

    #slide-1:checked ~ .control-1,
    #slide-2:checked ~ .control-2,
    #slide-3:checked ~ .control-3,
    #slide-4:checked ~ .control-4,
    #slide-5:checked ~ .control-5 {
        display: block;
    }

        /* CIRCULO DE POSICION */

    .slide-indicador {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 65px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .slide-indicador li {
        display: inline-block;
        margin: 0 5px;
    }
        
    .slide-circulo {
        color: #828282;
        cursor: pointer;
        display: block;
        font-size: 55px;
    }

    .slide-circulo:hover {
        color: #aaaaaa;
    }

    #slide-1:checked ~ .control-1 ~ .slide-indicador 
        li:nth-child(1) .slide-circulo,
    #slide-2:checked ~ .control-2 ~ .slide-indicador 
          li:nth-child(2) .slide-circulo,
    #slide-3:checked ~ .control-3 ~ .slide-indicador 
        li:nth-child(3) .slide-circulo,
    #slide-4:checked ~ .control-4 ~ .slide-indicador 
        li:nth-child(4) .slide-circulo,
    #slide-5:checked ~ .control-5 ~ .slide-indicador 
        li:nth-child(5) .slide-circulo {
        color: #fff;
    }

    #titulo-sup{
        display: flex;
        justify-content: center;
        padding: 0px 0 0 0;
        color: #fff;
        margin: 60px;
        font-size: 54px;
        font-weight: 600;
    }

    #titulo {
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 38px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 1;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
            -1px 0px 2px rgba(255, 255, 255, 0);
    }

    /* -- WEB SECCION SUCURSALES -- */

    .container-videos{
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .container-videos:hover{
        cursor: pointer;
    }
      
    .video {
        position: relative;
        flex-basis: 50%;
        height: 100%;
        overflow: hidden;
    }
      
    .video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
      
    .titulo-cj {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 17px;
        transition: font-size 0.3s ease;
    }

    .video:hover .titulo-cj {
        font-size: 19px;
    }

    .titulo-cj h2{
        margin-bottom: -15px;
    }

    .ubi-cj{
        margin-left: 2px;
    }

    .boton-cj{
        color: #fff;
        font-size: 40px;
        border: 1px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: -10px;
    }

    .titulo-palomar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 17px;
        transition: font-size 0.3s ease;
    }

    .video:hover .titulo-palomar {
        font-size: 19px;
    }

    .titulo-palomar h2{
        margin-bottom: -15px;
    }

    .ubi-palomar{
        margin-left: 2px;
    }

    .boton-palomar{
        color: #fff;
        font-size: 40px;
        border: 1px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 0px;
        margin-top: -10px;
        margin-left: 0;
        margin-right: 0;
    }


    /* WEB SECCION CONTACTO */

    #hero-contacto{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
        background-image: linear-gradient(
            0deg,
            rgba(61, 60, 60, 0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/test.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #hero-contacto h1 {
        color: #FFFFFF;
        font-weight: 300;
        letter-spacing: 0px;
        margin-bottom: 0;
        font-size: 60px;
    }
    
    #hero-contacto h4{
        color: #FFFFFF;
        font-size: 25px;
        font-weight: 400;
        margin-top: 0;
    }

    /* INPUTS */

    .container-solicitar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 150px 0px;
        justify-content: center;
        align-items: center;
    }
      
    .container-solicitar h1 {
        font-size: 30px;
        font-weight: 600;
        color: #54595F;
        margin-right: 475px;
    }
      
    .nombreinput,
    .apellidoinput,
    .emailinput,
    .telefonoinput {
        border: 2px solid rgb(154, 152, 152);
        user-select: none;
        width: 300px;
        height: 30px;
        margin-top: 8px;
    }

    .nombrelabel,
    .apellidolabel,
    .emaillabel,
    .telefonolabel {
        color: #34343B;
        font-weight: bold;
        font-size: 16px;
    }
      
    #nombrecontainer,
    #apellidocontainer {
        display: inline-block;
        margin-right: 20px;
    }

    #emailcontainer,
    #telefonocontainer{
        display: inline-block;
        margin-top: 20px;
    }

    #telefonocontainer{
        margin-left: 20px;
    }

    .mensaje{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
    }

    .send-label{
        color: #34343B;
        font-weight: bold;
        font-size: 16px;
    }

    .mensajeinput{
        border: 2px solid rgb(154, 152, 152);
        user-select: none;
        margin: 10px 0px;
        width: 625px;
        padding: 10px 0px 125px 0px;
        margin-top: 8px;
    }

    .enviarmensaje-container{
        margin-top: 10px;
    }

    .enviarmensaje{
        color: rgb(70, 70, 70);
        font-size: 14px;
        cursor: pointer;
        border: 2px solid rgb(132, 130, 130);
        padding: 8px;
        font-weight: 100;
    }

    .enviarmensaje:hover{
        background-color: rgb(223, 221, 221);
    }

    .masinfo{
        float: right;
        font-size: 16px;
        font-weight: 550;
        color: #15868A;
        margin-top: 12px;
    }

    .iconinfo{
        margin: -5px 1px;
        width: 20px;
    }

    .masinfo:hover{
        cursor: pointer;
    }

    .lineacontacto{
        color: #1bb6bb;
    }

    .nombreinput,
    .apellidoinput,
    .emailinput,
    .telefonoinput,
    .mensajeinput {
        color: rgb(49, 47, 47);
        padding-left: 10px;
        font-size: 14px;
        font-weight: 300;
    }

    .obligatorio{
        color: red;
        font-size: 14px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */

    #hero-np{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        background-image: linear-gradient(
            0deg,
            rgba(61, 60, 60, 0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/hero-np.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #hero-np h1 {
        color: #FFFFFF;
        letter-spacing: 0px;
        margin-bottom: 0;
        font-family: "Poppins", Sans-serif;
        font-size: 95px;
        font-weight: bold;
        letter-spacing: -2.7px;
        margin-left: 15%;

    }
    
    #hero-np h4{
        color: #FFFFFF;
        font-size: 2.8rem;
        font-weight: 550;
        margin-top: 0;
        margin-left: 15.3%;
        margin-bottom: 0;
    }

    .listahero{
        color: #FFFFFF;
        margin-left: 13%;
        user-select: none; 
    }

    .listahero li{
        padding: 10px;
        font-size: 20px;
        font-style: inherit;
        font-weight: inherit;
        vertical-align: baseline;
        display: flex;
        align-items: center;
    }

    .iconoentrega,
    .iconoresistentes,
    .iconomateriales{
        width: 40px;
        padding-right: 10px;
    }

    .iconodiseños{
        width: 25px;
        margin-right: 15px;
    }

    /* CONTENEDOR DE IMAGENES */

    .container-productos-jgsillones {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
    }
      
    .container-images{
        font-size: 40px;
        text-align: center;
    }
      
    .image-row {
        display: flex;
        justify-content: center;
    }
      
    .image-container img {
        display: block;
        width: 350px;
        height: 350px;
        transition: filter 0.3s;
        filter: brightness(70%);
    }

    

    .image-container:hover img {
        cursor: pointer;
        filter: brightness(60%);
    }

    .image-title {
        font-size: 35px;
        position: absolute;
        margin: 100px 0px 10px 80px;
        color: white;
        font-weight: bold;
        z-index: 1;
        user-select: none;
    }

    .image-title:hover{
        cursor: pointer;
    }

    .image-titlepuff{
        font-size: 35px;
        position: absolute;
        margin: 100px 0px 0px 100px;
        color: white;
        font-weight: bold;
        z-index: 1;
    }

    .image-titlepersonalizable{
      font-size: 35px;
      position: absolute;
      margin: 100px 0px 0px 50px;
      color: white;
      font-weight: bold;
      z-index: 1;
    }

    .seccion-sillones {
        max-width: 1035px;
        margin: 100px auto;
        margin-top: 60px;
    }

    .seccions-title{
        color: #54595F;
        font-family: "Poppins", Sans-serif;
        font-weight: 600;
        font-size: 31px;
    }
      
    .image-sillones-cont {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
      
    .image-sillones {
        margin: 20px 10px;
    }
      
    .image-sillones img {
        width: 330px;
    }

    .image-sillones:hover{
        cursor: pointer;
    }
      
    .tituloimagen{
        font-size: 22px;    
        margin: 0;
        padding: 20px 0 0 0;
        color: black;
    }

    .infoimagen{
        font-size: 18px;    
        margin: 0;
        padding: 20px 0;
        color: rgb(98, 97, 97);
        text-decoration: underline;
    }

    /* WEB SECCION SOBRE NOSOTROS */

    #hero-sobrenosotros{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../media/img3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
      
      .arrow-down {
        position: absolute;
        bottom: 0px; /* Ajusta la posición vertical según tus necesidades */
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 200px;
        background-image: url("/media/iconflecha.png"); /* O utiliza una fuente de iconos */
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: transparent;
        animation: arrowAppear 1s forwards, arrowMove 2s infinite alternate;
        opacity: 0;
    }

    .arrow-down-contacto {
        position: absolute;
        bottom: 200px; /* Ajusta la posición vertical según tus necesidades */
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 160px;
        background-image: url("/media/iconflecha.png"); /* O utiliza una fuente de iconos */
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: transparent;
        animation: arrowAppear 1s forwards, arrowMove 2s infinite alternate;
        opacity: 0;
    }

    .arrow-down-sobrenosotros{
        position: absolute;
        bottom: 10px; /* Ajusta la posición vertical según tus necesidades */
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 160px;
        background-image: url("/media/iconflecha.png"); /* O utiliza una fuente de iconos */
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFFFFF;
        background-color: transparent;
        animation: arrowAppear 1s forwards, arrowMove 2s infinite alternate;
        opacity: 0;
    }
    
    @keyframes arrowAppear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    
    @keyframes arrowMove {
      0% {
        transform: translate(-50%, 0);
      }
      100% {
        transform: translate(-50%, 20px);
      }
    }
    
    
    .hero-sobrenosotros-titulo {
        font-family: "Montserrat", Sans-serif;
        font-size: 120px;
        color: #FFFFFF;
        font-weight: 100;
        letter-spacing: 0px;
        margin-bottom: 0;
    }

    .historia-container{
        text-align: center;
        flex-direction: column;
    }

    .historia-container h1{
        margin-top: 80px;
        margin-bottom: 40px;
        font-family: "Montserrat", Sans-serif;
        font-size: 30px;
        font-weight: 600;
        justify-content: center;
        text-align: center;
        text-decoration: underline;
        color: #000;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .container-texto{
        padding-bottom: 80px;
    }

    .texto-historia1 {
        color: #000;
        display: inline-block;
        padding-right: 10px;
        font-family: "Montserrat", Sans-serif;
        font-size: 13.5px;
        font-weight: 300;
        word-wrap: break-word;
        width: 580px;
        vertical-align: top; /* ALINEA EL PRIMER TEXTO EN LA PARTE SUPERIOR */
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .texto-historia2 {
        color: #000;
        display: inline-block;
        padding-right: 10px;
        font-family: "Montserrat", Sans-serif;
        font-size: 13.5px;
        font-weight: 300;
        word-wrap: break-word;
        width: 580px;
        vertical-align: top; /* ALINEA EL PRIMER TEXTO EN LA PARTE SUPERIOR */
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    .negrita-historia{
        font-family: "Montserrat", Sans-serif;
        font-weight: 600; /* DETALLE: PONIENDO EN BOLD, NEGRITA AFECTANDO EL GROSOR, EN 600, NO AFECTA */
    }

    /* ---------------------------- PRUEBAS -------------------------------- */
}   


/* RESPONSIVE A 950px */

@media (max-width: 950px){

    #hero{
        background-position: left;
    }

    /* HEADER */

    header{
        width: 100%;
    }

    header .logo-text{
        padding-left: 180px;
        font-size: 1.2em;
    }

    /* MENU HAMBURGESA */

    header .container {
        flex-wrap: wrap;
    }
    
    header nav {
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        order: 3;
        width: 100%;
    }
    
    header.show-nav nav {
        max-height: 500px;
        display: flex;
        flex-direction: column;
    }
    
    .menu-icon {
        display: block;
        order: 2;
        text-align: right;
    }
    
    .menu-icon img {
        display: block;
    }
    
    .logobuscador{
        display: none;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 45px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .logo-container .finlogo{
        margin-left: 380px;
    }

    #findepagina .container-findepagina h3{
        margin-left: 30px;
    }

    #findepagina .institucional-container li{
        margin-left: 0px;
    }

    .divisor {
        margin-left: 50px;
        width: 160px;
    }

    #findepagina .locales h4{
        margin-left: 30px;
        padding: 0px 20px;
    }

    #findepagina .productos-findepagina h5{
        padding-left: 100px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .productos-findepagina li{
        padding: 10px 0;
    }

    #findepagina .contacto-findepagina h6{
        padding-left: 100px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .contacto-findepagina li{
        padding: 10px 0;
    }

    .divisor2{
        margin-left: 40px;
        width: 250px;
    }

    .arrow-down {
        bottom: -80px;
    }

    /* HERO SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        bottom: 20px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 60px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
           margin-left: 10%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
        margin-bottom: -220px;
    }
          
    .container-images{
        font-size: 34px;
    }
          
    .image-container img {
        width: 280px;
        height: 280px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 30px;
    }
    
    .image-titlepersonalizable{
      font-size: 30px;
      margin: 100px 0px 0px 30px;
    }
    
    .seccion-sillones {
        max-width: 880px;
        margin: 100px auto;
    }
          
    .image-sillones img {
        width: 280px;
    }
    
}

/* RESPONSIVE A 1920px */

@media (max-width: 1920px){

    header{
        width: 100%;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 45px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .logo-container .finlogo{
        margin-left: 860px;
    }

    .arrow-down {
        width: 100px;
        bottom: 100px;
    }

    /* FLECHA SECCION CONTACTO */

    .arrow-down-contacto{
        width: 80px;
    }

    /* HERO  SECCION SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        width: 100px;
        bottom: 100px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 80px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
           margin-left: 13%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
    }
          
    .container-images{
        font-size: 42px;
    }
          
    .image-container img {
        width: 420px;
        height: 420px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 48px;
        margin: 200px 0px 0px 100px;
    }
    
    .image-titlepersonalizable{
      font-size: 48px;
      margin: 200px 0px 0px 100px;
    }
    
    .seccion-sillones {
        max-width: 1245px;
        margin: 100px auto;
    }
          
    .image-sillones img {
        width: 400px;
    }
    
}

/* RESPONSIVE A 1440px */

@media (max-width: 1440px){

    header{
        width: 100%;
    }

    /* HERO */

    .arrow-down {
        width: 100px;
        bottom: 80px;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 35px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .logo-container .finlogo{
        margin-left: 640px;
    }

    /* FLECHA SECCION CONTACTO */

    .arrow-down-contacto{
        width: 80px;
        bottom: 160px;
    }

    /* TITULO SECCION SUCURSALES */

    .titulo-cj {
        font-size: 16px;
    }

    .titulo-palomar {
        font-size: 16px;
    }

    .video:hover .titulo-cj {
        font-size: 18px;
    }

    .video:hover .titulo-palomar {
        font-size: 18px;
    }

    /* HERO  SECCION SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        width: 100px;
        bottom: 100px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 80px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
           margin-left: 12%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
    }
          
    .container-images{
        font-size: 36px;
    }
          
    .image-container img {
        width: 340px;
        height: 340px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 36px;
        margin: 140px 0px 0px 100px;
    }
    
    .image-titlepersonalizable{
      font-size: 36px;
      margin: 140px 0px 0px 50px;
    }
    
    .seccion-sillones {
        max-width: 1005px;
        margin: 100px auto;
    }
          
    .image-sillones img {
        width: 320px;
    }
}

/* RESPONSIVE A 1280px */

@media (max-width: 1280px){

    header{
        width: 100%;
    }

    header .logo-text{
        padding-right: 220px;
    }

    /* HERO */

    .arrow-down {
        width: 100px;
        bottom: 80px;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 35px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .logo-container .finlogo{
        margin-left: 570px;
    }

    #findepagina .productos-findepagina h5{
        padding-left: 200px;
    }

    .productos-findepagina li{
        padding-left: 100px;
    }

    #findepagina .contacto-findepagina h6{
        margin-left: -90px;
    }

    .contacto-findepagina li{
        padding-left: 120px;
    }

    .divisor2{
        margin-left: 160px;
        width: 250px;
    }

    /* FLECHA SECCION CONTACTO */

    .arrow-down-contacto{
        width: 80px;
        bottom: 160px;
    }

    /* TITULO SECCION SUCURSALES */

    .titulo-cj {
        font-size: 16px;
    }

    .titulo-palomar {
        font-size: 16px;
    }

    .video:hover .titulo-cj {
        font-size: 18px;
    }

    .video:hover .titulo-palomar {
        font-size: 18px;
    }

    /* HERO  SECCION SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        width: 100px;
        bottom: 100px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 80px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
           margin-left: 12%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
    }
          
    .container-images{
        font-size: 36px;
    }
          
    .image-container img {
        width: 340px;
        height: 340px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 36px;
        margin: 140px 0px 0px 100px;
    }
    
    .image-titlepersonalizable{
      font-size: 36px;
      margin: 140px 0px 0px 50px;
    }
    
    .seccion-sillones {
        max-width: 1005px;
        margin: 100px auto;
    }
          
    .image-sillones img {
        width: 320px;
    }
}

/* RESPONSIVE A 1024px */

@media (max-width: 1024px){

    /* MENU HAMBURGESA */

    header .container {
        flex-wrap: wrap;
    }
        
    header nav {
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        order: 3;
        width: 100%;
    }
        
    header.show-nav nav {
        max-height: 500px;
        display: flex;
        flex-direction: column;
    }
        
    .menu-icon {
        display: block;
        order: 2;
        text-align: right;
    }
        
    .menu-icon img {
        display: block;
    }
        
    .logobuscador{
        display: none;
    }

    header .logo-text{
        margin-left: -450px;
    }

    /* SOMOS LEON LIVINGS CONTAINER */

    .somostxt-1{
        font-size: 28px;
    }
    
    .somostxt-2{
        font-size: 18px;
        font-weight: 100;
    }

    /* HERO */

    .arrow-down {
        width: 100px;
        bottom: 80px;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 35px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .logo-container .finlogo{
        margin-left: 390px;
    }

    #findepagina .productos-findepagina h5{
        padding-left: 120px;
    }

    .productos-findepagina li{
        padding-left: 40px;
    }

    #findepagina .contacto-findepagina h6{
        margin-left: -90px;
    }

    .contacto-findepagina li{
        padding-left: 125px;
    }

    .divisor2{
        margin-left: 160px;
        width: 250px;
    }

    /* FLECHA SECCION CONTACTO */

    .arrow-down-contacto{
        width: 80px;
        bottom: 160px;
    }

    /* TITULO SECCION SUCURSALES */

    .titulo-cj {
        font-size: 12px;
    }

    .titulo-palomar {
        font-size: 12px;
    }

    .video:hover .titulo-cj {
        font-size: 14px;
    }

    .video:hover .titulo-palomar {
        font-size: 14px;
    }

    /* HERO  SECCION SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        width: 100px;
        bottom: 100px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 65px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
        margin-left: 10.5%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
        margin-bottom: -100px;
    }
          
    .container-images{
        font-size: 32px;
    }
          
    .image-container img {
        width: 280px;
        height: 280px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 32px;
        margin: 140px 0px 0px 60px;
    }
    
    .image-titlepersonalizable{
      font-size: 32px;
      margin: 140px 0px 0px 30px;
    }
    
    .seccion-sillones {
        max-width: 825px;
        margin: 0px auto;
        margin-bottom: 100px;
    }
          
    .image-sillones img {
        width: 260px;
    }
}

/* RESPONSIVE A 768px */

@media (max-width: 768px){

    /* MENU HAMBURGESA */

    header .container {
        flex-wrap: wrap;
    }
        
    header nav {
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        order: 3;
        width: 100%;
    }
        
    header.show-nav nav {
        max-height: 500px;
        display: flex;
        flex-direction: column;
    }
        
    .menu-icon {
        display: block;
        order: 2;
        text-align: right;
    }
        
    .menu-icon img {
        display: block;
    }
        
    .logobuscador{
        display: none;
    }

    header .logo-text{
        padding-left: 200px;
    }

    /* SOMOS LEON LIVINGS CONTAINER */

    .somostxt-1{
        font-size: 28px;
    }
    
    .somostxt-2{
        font-size: 18px;
        font-weight: 100;
    }

    /* HERO */

    .arrow-down {
        width: 100px;
        bottom: 0px;
    }

    #hero{
        background-position: left;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 35px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .productos-findepagina h5{
        padding-left: 125px;
    }

    .productos-findepagina li{
        padding-left: 40px;
    }

    #findepagina .contacto-findepagina h6{
        margin-left: -90px;
    }

    .contacto-findepagina li{
        padding-left: 125px;
    }

    .divisor2{
        margin-left: 160px;
        width: 250px;
    }

    /* FLECHA SECCION CONTACTO */

    .arrow-down-contacto{
        width: 80px;
        bottom: 140px;
    }

    /* TITULO SECCION SUCURSALES */

    .titulo-cj {
        font-size: 18px;
    }

    .titulo-palomar {
        font-size: 18px;
        padding-bottom: 40px;
    }

    .container-videos{
        height: 200vh;
        flex-direction: column;
    }

    .video:hover .titulo-cj {
        font-size: 20px;
    }

    .video:hover .titulo-palomar {
        font-size: 20px;
    }  

    /* HERO  SECCION SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        width: 100px;
        bottom: 80px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 65px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
        margin-left: 10.5%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
        margin-bottom: 0px;
    }
          
    .container-images{
        font-size: 32px;
    }
          
    .image-container img {
        width: 260px;
        height: 260px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 30px;
        margin: 140px 0px 0px 60px;
    }
    
    .image-titlepersonalizable{
      font-size: 30px;
      margin: 140px 0px 0px 30px;
    }
    
    .seccion-sillones {
        max-width: 765px;
        margin: 0px auto;
        margin-bottom: 100px;
    }
          
    .image-sillones img {
        width: 240px;
    }
}

/* RESPONSIVE A 320px */

@media (max-width: 320px){

    header .logo-text{
        font-size: 20%;
    }

    /* SOMOS LEON LIVINGS CONTAINER */

    .somostxt-1{
        font-size: 28px;
    }
    
    .somostxt-2{
        font-size: 18px;
        font-weight: 100;
    }

    /* HERO */

    .arrow-down {
        width: 100px;
        bottom: 0px;
    }

    #hero{
        background-position: left;
    }

    /* CARRUSEL */

    .slide {
        height: 100%;
        width: 100%;
    }

    .slide-indicador {
        bottom: 35px;
    }

    /* FOOTER */
    
    #findepagina{
        width: 100%;
    }

    #findepagina .productos-findepagina h5{
        padding-left: 125px;
    }

    .productos-findepagina li{
        padding-left: 40px;
    }

    #findepagina .contacto-findepagina h6{
        margin-left: -90px;
    }

    .contacto-findepagina li{
        padding-left: 125px;
    }

    .divisor2{
        margin-left: 160px;
        width: 250px;
    }

    /* FLECHA SECCION CONTACTO */

    .arrow-down-contacto{
        width: 80px;
        bottom: 140px;
    }

    /* TITULO SECCION SUCURSALES */

    .titulo-cj {
        font-size: 18px;
    }

    .titulo-palomar {
        font-size: 18px;
        padding-bottom: 40px;
    }

    .container-videos{
        height: 200vh;
        flex-direction: column;
    }

    .video:hover .titulo-cj {
        font-size: 20px;
    }

    .video:hover .titulo-palomar {
        font-size: 20px;
    }  

    /* HERO  SECCION SOBRE NOSOTROS */

    .hero-sobrenosotros-titulo {
        font-size: 80px;
    }

    .arrow-down-sobrenosotros {
        width: 100px;
        bottom: 80px;
    }

    /* WEB SECCION PRODUCTOS-JUEGO DE SILLONES */
    
    #hero-np h1 {
        font-size: 65px;
    }
        
    #hero-np h4{
        font-size: 2.2rem;
    }
    
    .listahero{
        margin-left: 10.5%;
    }
    
    /* CONTENEDOR DE IMAGENES */
    
    .container-productos-jgsillones {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 80px;
        min-height: 100vh;
        margin-bottom: 0px;
    }
          
    .container-images{
        font-size: 32px;
    }
          
    .image-container img {
        width: 260px;
        height: 260px;
    }
    
    .image-title,
    .image-titlepuff {
        font-size: 30px;
        margin: 140px 0px 0px 60px;
    }
    
    .image-titlepersonalizable{
      font-size: 30px;
      margin: 140px 0px 0px 30px;
    }
    
    .seccion-sillones {
        max-width: 765px;
        margin: 0px auto;
        margin-bottom: 100px;
    }
          
    .image-sillones img {
        width: 240px;
    }
}